* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(31, 147, 69);
  padding: 15px 25px;
}

#item-lister {
  color: white;
  padding: 7px;
}

#filter-items {
  padding: 7px;
  width: 250px;
}

.add-items {
  padding-bottom: 10px;
  font-weight: 400;
  color: rgb(53, 58, 69);
}

.container {
  margin: 25px;
  padding: 25px;
  border-radius: 3px;
}

.item-input {
  padding: 5px;
}

.submit-btn {
  padding: 5px;
  background-color: rgb(53, 58, 69);
  color: white;
  border: 1px solid rgb(53, 58, 69);
  border-radius: 3px;
}

.items {
  font-weight: 400;
  color: rgb(53, 58, 69);
  padding: 10px 0;
}

.list-group {
  list-style: none;
  border-radius: 3px;
  border: 1px solid rgb(54, 59, 68);
}

.item-list-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(54, 59, 68);
  padding: 15px;
}

.item-list-group:last-child {
  border-bottom: none;
}

.delete-btn {
  cursor: pointer;
  background-color: red;
  border: none;
  padding: 5px;
  color: white;
  font-size: 10px;
  border-radius: 2px;
  opacity: 0.8;
}

.delete-btn:hover {
  opacity: 1;
}
